.NewsLetterForm {
    color: var(--text-light);
    background: var(--gradient-blue-1);
    padding: 2.5rem 4rem;
    border-radius: 1.5rem 0 1.5rem 0;

    .Header {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 2.8rem;
        font-weight: 100;
    }

    .Content {
        font-size: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;

        .FormGroup {
            flex: 0 1 50%;

            input {
                width: 100%;
                margin: 0;
                padding: auto 2rem;
                font-size: 1.8rem;
                font-family: inherit;
                border: none;
                border-radius: 0.8rem;

                &:focus-within {
                    outline: none;
                    box-shadow: 0 0 10px 3px var(--link-hover);
                }
            }
        }

        .Actions {
            button {
                text-transform: uppercase;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }
}
