.EventResults {
    color: var(--text-light);
    background: var(--gradient-blue-1);
    border-radius: 0 1.5rem 0 1.5rem;
    padding: 2.5rem;
    padding-bottom: 3.2rem;

    .Header {
        text-align: center;
        text-transform: capitalize;
        font-size: var(--header-font-size);
        font-family: var(--header-font-family);
        font-weight: var(--header-font-weight);
    }

    .Actions {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;

        a {
            &:hover {
                color: inherit;
            }
        }
    }
}
